* /*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

body {
}

#banner {
  width: 100%;
}

.principal {
  background: #cccccc;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-weight: bold;
}

#missao {
  text-align: center;
  color: red;
  font-style: italic;
  font-size: 20px;
}

b {
  color: black;
}

.itens {
  font-style: italic;
}

.beneficios {
  background: white;
}

h2 {
  text-align: center;
}
